<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    </head>
    <body>
        <div class="container text-center">
            <div class="row">
              <div class="col">
                <ul>
                    {% for artista in artistas %}
                    <li><a href="{% url 'firstapp:album_detail' artista.id %}">{{ artista.nome }}</a></li>
                    {% endfor %}
                </ul>
              </div>
              <div class="col">
                <ul>
                    {% for album in albuns %}
                    <li><a href="{% url 'firstapp:album_detail' album.id %}">{{ album.titulo }}</a></li>
                    {% endfor %}
                </ul>
              </div>
              <div class="col">
                <ul>
                    {% for musica in musicas %}
                    <li><a href="{% url 'firstapp:album_detail' musica.id %}">{{ musica.titulo }}</a>
                        <a href="{% url 'firstapp:avaliar_musica' musica.id 1 %}" class="star" data-value="1">&#9733;</a>
                        <a href="{% url 'firstapp:avaliar_musica' musica.id 2 %}" class="star" data-value="2">&#9733;</a>
                        <a href="{% url 'firstapp:avaliar_musica' musica.id 3 %}" class="star" data-value="3">&#9733;</a>
                        <a href="{% url 'firstapp:avaliar_musica' musica.id 4 %}" class="star" data-value="4">&#9733;</a>
                        <a href="{% url 'firstapp:avaliar_musica' musica.id 5 %}" class="star" data-value="5">&#9733;</a>
                    </li>
                    {% endfor %}
                </ul>
              </div>
            </div>
          </div>
    </body>
</html>